[submodule "lib/assets/console"]
	path = lib/assets/console
	url = https://github.com/philcali/pits-console.git
[submodule "lib/assets/api"]
	path = lib/assets/api
	url = https://github.com/philcali/pits-api.git
[submodule "lib/assets/data"]
	path = lib/assets/data
	url = git@github.com:philcali/pits-data.git
